.error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
  margin-left: 20px;
}

/* Overlay styles */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
/* Popup styling */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 11;
  box-sizing: border-box;
}

/* Form styling within the popup */
.popup h2{
  margin: 0 0 15px;
  color: #333;
  font-size: 1.5rem;
}

.popup-form {
  display: flex;
  flex-direction: column;
}

.popup label
{
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #555;
}

.popup input,
.popup select,
#searching {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.submit-btn,
.cancel-btn {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
  margin-top: 5px;
}
/* In activity_style.css */
#editUserNotification,
#addUserNotification {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
/* Add styles for the tooltip */
.tooltip {
  display: none;
  position: absolute;
  background-color: black; /* Change background to black */
  color: white; /* Change text color to white */
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  white-space: pre-wrap; /* Preserve whitespace for code */
  min-width: 300px; /* Set minimum width */
  max-width: 400px; /* Set maximum width to prevent excessive expansion */
  min-height: 300px; /* Set minimum height */
  overflow: auto; /* Allow scrolling if content is too long */
}
